
* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../fonts/distgrg_-webfont.woff2') format('woff2'),
         url('../fonts/distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	background-color: #000;	
	opacity: 0.0;
}

h1{
	font-family: 'distant_galaxyregular', sans-serif;
	font-size: 40px;
	text-align: center;
	width: 100%;
	color: #ccc;
	padding: 25px 0px;
}

h4{
	color: #fff;
    text-align: center; 
    padding: 10px 25px;
    display: table;
    margin: 10px auto;
    position: relative;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.85);
}


#container{
	position: absolute;
	top: 5%;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	min-width: 360px;
	z-index: 1;
}




.pHolder{
	position: relative;
	text-align: center;
}

.player{
	position: relative;
	display: inline-block;
	list-style: none;	
	max-width: 125px;
	width: calc(25% - 10px);
	margin: 5px;
	cursor: pointer;
	transition: opacity 1s, background-color 1.5s;
}

.player .name{
	padding: 10px 0px;
}

.player .characterImg{
	position: relative;
	width: 100%;
}

.player .health{
	padding: 10px 0px;	
}

.defender{
	background-color: #000 !important;
	color: #fff !important;	
}



.cta{
    position: absolute;
    color: #f00;
    background-color: rgba(0,0,0,0.85);
    border: #b5afaf solid 1px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    padding: 5px 25px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.65);
    border-radius: 4px; 
    top: 0;
    left: 50%;
    margin-left: -75px;	
    z-index: 500;
	-webkit-user-select: none; 
	-moz-user-select: none;    
	-ms-user-select: none;     
	user-select: none;  	
}



#characterSelectZone{

}

#characterSelectZone .player{
	background-color: #fff;
	color: #000;
}







#attackUI{
	position: relative;
	margin: 15px auto;
}

#choseEnemyMessage{
	z-index: 5;
}

#attackBtn{
    position: absolute;
    margin-top: 3px;    
}






#toAttackZone{
	
}

#toAttackZone .player{
	background-color: #f00;
	color: #fff;
}




#enemiesInWaiting{
	
}

#enemiesInWaiting .player{
	background-color: #000;
	color: #fff;
}

.hidden{
	display: none;
}





#attackFeedback{
	position: relative;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	z-index: 10;
	color: #fff;
}

#endOfGameStatus{
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 10;
	color: #fff;	
	display: none;
    padding: 30px 0px;
    padding-bottom: 10px;
}

#replayBtn{
    position: relative; 
    display: none;            
}




#starWars_bg{
	position: fixed;
	top: 0;
	left: 0;  
	width: 100%;
	z-index: 0;
	overflow: hidden;
	min-width: 1400px;
}

@media screen and (max-width: 1400px){
	#starWars_bg{
		width: 1400px;
		left: 50%;
		margin-left: -700px;
	}
}

.fadeAway{
	opacity: 0.0;
}